.logo {
    width:33%;
    float:right;
}

.mastowall-iframe,
.grafana-iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
}

.mastowall-iframe {
    background: none transparent;
}

@media (max-width: 1000px) {
    .logo {
        width: 50%;
    }

    .mastowall-iframe,
    .grafana-iframe {
        aspect-ratio: 1;
    }
}

@media (max-width: 500px) {
    .logo {
        width: 100%;
        float: none;
    }

    .mastowall-iframe,
    .grafana-iframe {
        aspect-ratio: 0.65;
    }
}